<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="static/imgs/favicon.png" />

    <title>Home</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/vendor/bootsnav/css/bootsnav.css">
    <link rel="stylesheet" href="static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/vendor/custom-icon/css/style.css">
    <link rel="stylesheet" href="static/vendor/owl.carousel2/owl.carousel.min.css">
    <link rel="stylesheet" href="static/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="static/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="static/vendor/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/main.min.css">
    <!-- endinject -->
     

</head>
<body>

    <!--header start-->
    <header id="header" class="Sticky">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="static/imgs/wie_logo.png" class="logo logo-scrolled" alt="">
                        <img src="static/imgs/wie_logo3.png" class="logo logo-display" alt="">
            
                        
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="" data-out="">
                        <li class="dropdown">
                            <a href="#home" class="dropdown-toggle" data-toggle="dropdown" >Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Schedule</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Speakers</a>
                        </li>

                        <li class="#">
                            <a href="#sponsors" class="dropdown-toggle" data-toggle="dropdown" >Sponsors</a>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <div class="widget u-MarginTop50">
                    <!--<h4 class="title">Shortlinks</h4>-->
                    <ul class="link">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Schedules</a></li>
                        <li><a href="#">Speakers</a></li>
                        <li><a href="#">Sponsors</a></li>
                        <li><a href="#">Venue</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Shortcodes</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="widget">
                    <!--<h5 class="title">Social Links</h5>-->
                    <div class="social-links sl-default border-link round-link colored-link">
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="g-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a href="#" class="dribbble">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a href="#" class="behance">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
        <div class="clearfix"></div>
    </header>
    <!--header end-->

    <!--hero section start-->
    <section class="ImageBackground ImageBackground--overlay js-FullHeight js-Parallax" data-overlay="5">
        <div class="ImageBackground__holder">
            <img src="static/imgs/banner/bg5.png" alt=""/>
        </div>
        <div class="container u-vCenter">
            <div class="row text-center text-left- text-white">
                <div class="col-md-12">
                    <div id="counting-date" class="count-transparent h3 u-MarginBottom0 u-xs-MarginTop30 u-MarginTop150"></div>

                    <!--<h1 class="u-FontSize75 u-xs-FontSize40 u-Weight700 u-MarginTop0 u-MarginBottom0">International</h1>-->
                    <h2 class="u-FontSize75 u-xs-FontSize40 u-Weight700 u-MarginTop0  u-MarginBottom0">Women In Engineering Week</h2>
                    <h3 class="text-uppercase  text-white u-Weight700 u-MarginTop0 u-MarginBottom50">27th Nov - 2nd Dec, 2017, IEEE OAU, NG </h3>
                    <a class="btn btn-gradient- btn--alien- btn-primary text-uppercase u-MarginBottom10 u-LetterSpacing2" href="#">Get Tickets</a>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!-- inject:js -->
    <script src="static/vendor/jquery/jquery-1.12.0.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vendor/bootsnav/js/bootsnav.js"></script>
    <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/vendor/waypoints/sticky.min.js"></script>
    <script src="static/vendor/headroom/headroom.min.js"></script>
    <script src="static/vendor/jquery.countTo/jquery.countTo.min.js"></script>
    <script src="static/vendor/owl.carousel2/owl.carousel.min.js"></script>
    <script src="static/vendor/jquery.appear/jquery.appear.js"></script>
    <script src="static/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="static/vendor/imagesloaded/imagesloaded.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/vendor/jquery.countdown.min.js"></script>
    <script src="static/vendor/swiper/js/swiper.min.js"></script>
    <script src="static/js/main.js"></script>
    <!-- endinject -->

    <!--google map-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCVkU7YnGfown4_i_sm6X36HP2jWTv54&amp;callback=initMap"> </script>

    <script>
        function initMap() {
            var location, map, marker;

            location = {lat: 37.773972, lng: -122.431297};
            map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 15,
                scrollwheel:false
            });
            marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>

</body>
</html>
